body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


.container {
    width: 1440px; 
    margin: 0 auto;
    border: 1px solid #1a1a1a;
}

.f_img{
    position: relative;
    width: 100%;
}

h1{
    /* position: absolute; */
    top: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: -52%;
    width: 100%;
    color: #1a1a1a;
}


.zd{
    margin-top: 0px;
    width: 100%;
    color: #1a1a1a;
    margin-left: 1226px;
}

.vb{
    margin-top: 530px;
    width: 100%;
    color: #1a1a1a;
    margin-left: 24px;
}

.scnd{
    width: 48%;
}

.text_nach{
    width: 70%;
    margin-top: -58%;
    margin-left: 180px;
}

.s_img{
    width: 100%;
    margin-top: 3%;
}

.nach{
    margin-top: 15%;
    margin-left: 24px;
    color: #1a1a1a;
}

.light{
    margin-top: -29%;
    margin-left: 20%;
    color: #1a1a1a;
}

.reg{
    margin-top: 24px;
    margin-left: 20%;
    color: #1a1a1a;
}

.med{
    margin-top: 24px;
    margin-left: 20%;
    color: #1a1a1a;
}

.bold{
    margin-top: 24px;
    margin-left: 20%;
    color: #1a1a1a;
}

.s_half{
    width: 100%;
    margin-top: -55%;
    margin-left: 750px;
}

.t_img{
    width: 100%;
}

.navig{
    color: #1a1a1a;
    margin-top: -78%;
    display: flex;
    justify-content: center;
}

.f_nap{
    width: 50%;
    margin-top: 20%;
    margin-left: 50px;
}
.nap_img{
   width: 90%;
}

.f_raz{
    width: 100%;
    margin-top: -33%;
    margin-left: 430px;
}

.raz_img{
    width: 30%;
}

.nap{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    color: #1a1a1a;
}

.raz{
    margin-top: 4.5%;
    margin-left: 40px;
    color: #1a1a1a;
}

.features{
    margin-top: 20%;
    margin-left: 24px;
}

.f_kvadro{
    margin-top: 55px;
    margin-left: 126px;
}

.img_kvadro{
    margin-left: 35px;
}

.text_kvadro{
    color: #1a1a1a;
}
.serk{
    color: #1a1a1a;
    margin-left: 22px;
}

.f_lack{
    margin-top: -13.6%;
    margin-left: 580px;
}

.img_lack{
    margin-left: 35px;
}

.hvost{
    margin-left: 44px;
}

.text_lack{
    margin-top: -0.5%;
}

.f_prop{
    margin-top: -13.7%;
    margin-left: 1050px;
}

.img_prop{
    margin-left: 50px;
}

.text_prop{
    margin-top: -0.5%;
}

.img_kor{
    width: 101.8%;
    margin-top: 7%;
    margin-left: -25px;
}

.language{
    margin-top: 7%;
}

.text_language_1{
    margin-left: 24px;
}

.text_language_2{
    margin-top: -2.1%;
    margin-left: 205px;
}

.jap{
    margin-top: 5%;
    margin-left: 80px;
}

.text_jap{
    margin-left: 100px;
}

.img_jap{
    width: 25%;
    margin-top: 2%;
}

.amerika{
    margin-top: -21.3%;
    margin-left: 580px;
}

.text_amerika{
    margin-left: 130px;
}

.img_amerika{
    margin-top: 2%;
}

.russia{
    margin-top: -24.6%;
    margin-left: 1150px;
}

.img_russia{
    margin-top: 2%;
}

.Glif{
    margin-top: 10%;
}

.text_glif{
    margin-left: 107px;
}

.text_1100{
    margin-top: -1.9%;
    margin-left: 200px;
}

.text_spec{
    margin-top: -2%;
    margin-left: 390px;
}

.text_font1{
    margin-top: -2.1%;
    margin-left: 1050px;
}

.text_font2{
    margin-left: 1125px;
}

.img_glif_spec{
    width: 55%;
}

.font{
    margin-top: -30%;
    margin-left: 967px;
}

.text_font{
    margin-top: -43%;
    margin-left: 110px;
}

.img_font{
    width: 100%;
}

.uni{
    margin-top: 20%;
}

.text_uni{
    margin-left: 24px;
}

.r_ang{
    margin-top: 4%;
    margin-left: 66px;
}

.img_r_ang{
    width: 8.8%;
}

.vse_uni{
   margin-left: 25px;
}

.sh_light{
    margin-top: -20%;
    margin-left: 300px;
}

.sh_reg{
    margin-top: -13.5%;
    margin-left: 500px;
}

.sh_med{
    margin-top: -13%;
    margin-left: 700px;
}

.sh_bold{
    margin-top: -13%;
    margin-left: 900px;
}

.img_light{
    width: 17%;
}

.img_reg{
    width: 20%;
}

.img_med{
    width: 25%;
}

.img_bold{
    width: 34.5%;
}

.img_l_ang{
    width: 65%;
}

.l_ang{
    margin-top: -26%;
    margin-left: 1250px;
}

.text_ouni{
 margin-top: -3%;
}

.text_ouni1{
    display: flex;
    justify-content: center;
}

.text_ouni2{
    display: flex;
    justify-content: center;
}

.nambers{
    margin-top: 12%;
}

.text_nambers{
    margin-left: 24px;
}

.F_img_nambers{
    margin-top: -2%;
    margin-left: 300px;
}

.text_p_nambers{
    margin-top: 5%;
}

.text_nambers2{
    display: flex;
    justify-content: center;
}

.text_nambers3{
   margin-left: 220px;
}

.text_nambers4{
    margin-left: 220px;
}

.text_vika{
    margin-top: 5%;
}

.vika{
    margin-left: 24px;
}

.Logo{
    margin-top: -4.5%;
    margin-left: 1200px;
}

.img_logo{
    width: 60%;
}