body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


.container {
    width: 1440px; 
    margin: 0 auto;
}

.f_img{
    position: relative;
    width: 100%;
}

h1{
    /* position: absolute; */
    top: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: -52%;
    width: 100%;
    color: #1a1a1a;
}


.zd{
    /* position: absolute; */
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    margin-top: 0px;
    width: 100%;
    color: #1a1a1a;
    margin-right: 24px;
}

.vb{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 530px;
    width: 100%;
    color: #1a1a1a;
    margin-left: 24px;
}

.scnd{
    width: 48%;
}

.text_nach{
    width: 70%;
    margin-top: -58%;
    margin-left: 180px;
}

.s_img{
    width: 100%;
    margin-top: 3%;
}

.nach{
    margin-top: 5%;
    margin-left: 24px;
    color: #1a1a1a;
}

.light{
    margin-top: -29%;
    margin-left: 20%;
    color: #1a1a1a;
}

.reg{
    margin-top: 24px;
    margin-left: 20%;
    color: #1a1a1a;
}

.med{
    margin-top: 24px;
    margin-left: 20%;
    color: #1a1a1a;
}

.bold{
    margin-top: 24px;
    margin-left: 20%;
    color: #1a1a1a;
}

.s_half{
    width: 48%;
    margin-top: -30%;
}

.t_img{
    width: 100%;
}

.navig{
    color: #1a1a1a;
    margin-top: -35%;
    margin-left: 1200px;
}

.nap_img{
    width: 20%;
    margin-left: 1050px;
    margin-top: 8%;
}

.raz_img{
    width: 14%;
    margin-left: 50px;
}

.nap{
    color: #1a1a1a;
    margin-left: 1180px;
    margin-top: 1%;
}

.raz{
    color: #1a1a1a;
    margin-left: 1530px;
    margin-top: -1.2%;
}