@font-face {
    font-family: "pt-root-ui_light";
    src: url(../PT-Root-UI.web/PT/PT/PT-Root-UI/pt-root-ui_light.woff);
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family:"pt-root-ui_regular" ;
    src: url(../PT-Root-UI.web/PT/PT/PT-Root-UI/pt-root-ui_regular.woff);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: "pt-root-ui_light";
}

h2{
    font-family: "pt-root-ui_regular";
}

h3{
    font-family: "pt-root-ui_regular";
}