@font-face {
    font-family: "pt-root-ui_light";
    src: url(../PT-Root-UI.web/PT/PT/PT-Root-UI/pt-root-ui_light.woff);
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family:"pt-root-ui_regular" ;
    src: url(../PT-Root-UI.web/PT/PT/PT-Root-UI/pt-root-ui_regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pt-root-ui_bold";
    src: url(../PT-Root-UI.web/PT/PT/PT-Root-UI/pt-root-ui_bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "pt-root-ui_medium";
    src: url(../PT-Root-UI.web/PT/PT/PT-Root-UI/pt-root-ui_medium.woff);
    font-style: normal;
}

h1{
    font-family: "pt-root-ui_light";
    font-size: 128px;
}

.zd{
    font-family: "pt-root-ui_regular";
    font-size: 24px;
}

.vb{
    font-family: "pt-root-ui_regular";
    font-size: 24px;
}

.nach{
    font-family: "pt-root-ui_light";
    font-size: 64px;
}

.light{
    font-family:"pt-root-ui_light";
    font-size: 24px;
}

.reg{
    font-family:"pt-root-ui_regular";
    font-size: 24px;
}

.med{
    font-family:"pt-root-ui_medium";
    font-size: 24px;
}

.bold{
    font-family:"pt-root-ui_bold";
    font-size: 24px;
}

.navig{
    font-family:"pt-root-ui_light";
    font-size: 28px;
}

.nap{
    font-family:"pt-root-ui_light";
    font-size: 16px;
}

.raz{
    font-family:"pt-root-ui_light";
    font-size: 16px;
}

.osob{
    font-family:"pt-root-ui_light";
    font-size: 64px;
}

.text_kvadro{
    font-family: "pt-root-ui_light";
    font-size: 24px;
}

.text_lack{
    font-family: "pt-root-ui_light";
    font-size: 24px;
}

.text_prop{
    font-family: "pt-root-ui_light";
    font-size: 24px;
}

.serk{
    font-family: "pt-root-ui_light";
    font-size: 24px;
}

.hvost{
    font-family: "pt-root-ui_light";
    font-size: 24px;
}

.text_language_1{
    font-family:"pt-root-ui_light";
    font-size: 64px;
}

.text_language_2{
    font-family: "pt-root-ui_light";
    font-size: 24px;
}

.text_jap{
    font-family: "pt-root-ui_light";
    font-size: 28px;
}

.text_amerika{
    font-family: "pt-root-ui_light";
    font-size: 28px;
}

.text_russia{
    font-family: "pt-root-ui_light";
    font-size: 28px;
}

.text_glif{
    font-family: "pt-root-ui_light";
    font-size: 28px;
}

.text_1100{
    font-family: "pt-root-ui_light";
    font-size: 28px;
}

.text_spec{
    font-family: "pt-root-ui_light";
    font-size: 28px;
}

.text_font1{
    font-family: "pt-root-ui_light";
    font-size: 28px;
}

.text_font2{
    font-family: "pt-root-ui_light";
    font-size: 28px;
}

.text_font{
    font-family:"pt-root-ui_regular";
    font-size: 24px;
}

.text_uni{
    font-family:"pt-root-ui_light";
    font-size: 64px;
}

.text_ouni1{
    font-family:"pt-root-ui_light";
    font-size: 24px;
}

.text_ouni2{
    font-family:"pt-root-ui_light";
    font-size: 24px;
}

.text_nambers{
    font-family:"pt-root-ui_light";
    font-size: 64px;
}

.text_nambers2{
    font-family:"pt-root-ui_light";
    font-size: 24px;
}

.text_nambers3{
    font-family:"pt-root-ui_light";
    font-size: 24px;
}

.text_nambers4{
    font-family:"pt-root-ui_light";
    font-size: 24px;
}

.vika{
    font-family:"pt-root-ui_regular";
    font-size: 24px;
}